aws_region    = "ap-south-1"
aws_partition = "aws"
mock_provider = false
configuration = {
  account_id      = "000000000000"
  target_role_arn = "arn:aws:iam::000000000000:role/REPLACE_WITH_BOOTSTRAP_ROLE"
  budget = { limit_usd = 300, thresholds = [80, 100], alert_email = "aws-budgets@example.invalid" }
}
